################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/terrainOptimizer/.vs/*
/terrainOptimizer/obj/*
/terrainOptimizer/bin/*
/terrainOptimizer/obj/x64/Debug/terrainOptimizer.dll
